# Dependencies
node_modules/

# Environment Variables
.env

# Uploads & Temp Files
backend/uploads/
uploads/
temp/

# SQLite Database Files
*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite
*.sqlite3

# Logs
logs/
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
